
/*DEFINIÇAO DE FONTES*/
@font-face {
    font-family: "Unbounded";
    src: url("../fonts/Unbounded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*DEFINIÇAO DE FONTES*/
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*RESET*/
* 
{
    margin: 0;
    padding: 0;

}

/*ESTILO DESKTOP*/
body {
    background-color: #000000;
}

header img {
    display: block;
    margin: 75px 0 0 250px;
}

h1 {
    font-family: "unbounded", sans-serif;
    font-size: 64px;
    text-align: center;
    margin-top: 60px;
}

h1 span {
    color: #9747FF;
}

p {
    font-family: "poppins", sans-serif;
    font-size: 24px;
    text-align: center;
    width: 792px;
    margin: 24px auto;
}

a {
    color: #FFFFFF;
    font-family: "poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    
    display: block;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;

    margin: 40px auto;
}

a:hover {
    background-color: #8233E8;
}

h1, p, a {
    color: #FFFFFF;
}


section img {
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
    /*margin-top: 40px;*/

}

@media(max-width: 768px) {

    header img {
        margin: 65px 0 0 60px;
    }


    p {
        width: 648px;
    }
}

@media(max-width: 767px) {

    header img {
        margin: 32px 0 0 16px;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 340px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }

    section img {
        width: 340px;
        height: 230px;
    }
}